* {
 margin: 0;
 padding: 0;
 border: 0;
 box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f5f6fa;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}